<?xml version="1.0" encoding="utf-8"?>
<configuration>
     <configSections>
          <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
          <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
     </configSections>
     <runtime>
          <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
               <probing privatePath="Languages" />
          </assemblyBinding>
     </runtime>
    <startup>
      <supportedRuntime version="v2.0.50727" />
      <supportedRuntime version="v4.0" />
    </startup>
    
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">
    <target name="InstallerLogTarget" xsi:type="File" fileName="${tempdir}/hpbcsiInstaller.log" deleteOldFileOnStartup="false"
            header=""           
            footer="" 
            layout="${time}  ${message} ${onexception:inner=${newline}!!!!!!!!!!!!!!!!!!!${newline}${exception:format=type,message,method,stacktrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method,stacktrace}${newline}${stacktrace}${newline}!!!!!!!!!!!!!!!!!!!}" 
            >
    </target>
    <target name="InstallReportTarget" xsi:type="File" fileName="${tempdir}/hpbcsiInstallReport.log" deleteOldFileOnStartup="true"
            header="****** Started ${processname} - ${longdate} ******${newline}"
            footer=""           
            layout="[${longdate}] - ${level} - ${message}"
            >
    </target>
    <target name="InstallReportLongTarget" xsi:type="File" fileName="${tempdir}/hpbcsiInstallReportLong.log" deleteOldFileOnStartup="false"
            header="****** Started ${processname} - ${longdate} ******${newline}"
            footer=""
            layout="[${longdate}] - ${level} - ${message}"
            >
    </target>
    <target name="PerfReportTarget" xsi:type="File" fileName="${tempdir}/hpbcsiInstallTime.csv" deleteOldFileOnStartup="true"
            header=""
            footer=""
            >
      <layout xsi:type="CsvLayout">
        <column layout="${longdate}" name="Date/Time" />
        <column layout="${qpc:difference=true}" name="Elapsed Time" />
        <column layout="${message}" name="Message" />
      </layout>
    </target>

  </targets>

  <rules>
    <logger name="hpbcsiInstallerLog" minLevel="Trace" writeTo="InstallerLogTarget"/>
    <logger name="hpbcsiInstallReport" minlevel="Trace" writeTo="InstallReportTarget"/>
    <logger name="hpbcsiInstallReportLong" minlevel="Trace" writeTo="InstallReportLongTarget"/>
    <logger name="hpbcsiPerfReport" minlevel="Trace" writeTo="PerfReportTarget"/>
  </rules>

</nlog>
    
</configuration>
