<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>

  <loggingConfiguration name="Logging Application Block" tracingEnabled="true"
       defaultCategory="" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="trace.log" header="----------------------------------------"
           footer="----------------------------------------" formatter="LoggerFormatter"
           listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           name="FlatFile TraceListener" />
      <add source="Enterprise Library Logging" formatter="Text Formatter"
           log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           name="Formatted EventLog TraceListener" />
      <add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           traceOutputOptions="None" filter="All" type="HP.CommonTools.CSI.LoggerTraceListener, hpbcsiCommonTools, Version=0.5.0.0, Culture=neutral, PublicKeyToken=null"
           name="LoggerTraceListener" initializeData="hpbcsiSWChooserApp.log" formatter="LoggerFormatter" />
    </listeners>
    <formatters>
      <add type="HP.CommonTools.CSI.LoggerFormatter, hpbcsiCommonTools, Version=0.5.0.0, Culture=neutral, PublicKeyToken=null"
           name="LoggerFormatter" />
      <add template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
           type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           name="Text Formatter" />
    </formatters>
    <logFilters>
      <add minimumPriority="0" maximumPriority="100" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      name="Priority Filter" />
    </logFilters>
    <categorySources>
      <add switchValue="All" name="Warning">
        <listeners>
          <add name="LoggerTraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Error">
        <listeners>
          <add name="LoggerTraceListener" />
          <add name="Formatted EventLog TraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="NetworkConnection">
        <listeners>
          <add name="LoggerTraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="USBConnection">
        <listeners>
          <add name="LoggerTraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="WirelessConnection">
        <listeners>
          <add name="LoggerTraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="PDUEngine">
        <listeners>
          <add name="LoggerTraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="UserInterface">
        <listeners>
          <add name="LoggerTraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="InstallManager">
        <listeners>
          <add name="LoggerTraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="General">
        <listeners>
          <add name="LoggerTraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="LoggerTraceListener" />
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Formatted EventLog TraceListener" />
          <add name="LoggerTraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Languages" />
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v2.0.50727" />
    <supportedRuntime version="v4.0" />
  </startup>
</configuration>